@media only screen and (max-width:800px)
  .login-wrapper
    width 90%!important

.clearfix
  display: inline-block
  &:after
    display: block
    content " "
    height: 0
    line-height: 0
    clear both
    visibility: hidden
