@media only screen and (max-width:800px)
  .login-latest
    .login-wrapper
      width 90%!important
      .index-common-btn
        line-height: 42px!important

.clearfix-new
  display: inline-block
  &:after
    display: block
    content " "
    height: 0
    line-height: 0
    clear both
    visibility: hidden


//去除ios自定义样式
input[type="button"], input[type="submit"], input[type="reset"],input[type="text"],input[type="number"] {
  -webkit-appearance: none;
  outline none
}

textarea {  -webkit-appearance: none;}
