@font-face {
  font-family: 'icon-login';
  src:  url('../fonts/icon-login.eot?k9ytwf');
  src:  url('../fonts/icon-login.eot?k9ytwf#iefix') format('embedded-opentype'),
    url('../fonts/icon-login.ttf?k9ytwf') format('truetype'),
    url('../fonts/icon-login.woff?k9ytwf') format('woff'),
    url('../fonts/icon-login.svg?k9ytwf#icon-login') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change ../fonts */
  font-family: 'icon-login' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e902";
}
.icon-chevron-thin-down:before {
  content: "\e903";
}
.icon-wechat:before {
  content: "\e900";
}
.icon-qq:before {
  content: "\e901";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-user:before {
  content: "\e971";
}
.icon-eye:before {
  content: "\e9ce";
}
